

/* General */
body{
    background-color: lightgreen;
    padding-top: 6.25rem;
}

div{
    margin: 0 auto;
    width: 18.75rem;
}

ul{
    background-color: white;
    margin-top: 1.25rem;
    padding-top: .625rem;
    border-radius: .625rem;
    border: .0625rem solid black;
}

ul > *{
    margin-bottom: .625rem;
}

div > div{
    text-align: center;
}

button{
    border-radius: .625rem;
    padding: .3125rem .5rem;
    border: 1px solid black;
}